:root {
  --theme-blue: #45567d;
  --theme-red: #be3144;
  --theme-gray: #303841;
  --theme-white: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--theme-white);
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
}

#navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--theme-red);
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 60px;
  padding: 0 30px;
}

#welcome-section,
#projects,
#links-section {
  padding-top: 60px;
}

#nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
}

.nav-link {
  /* height: 60px; */
  line-height: 60px;
  padding: 0 15px;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  color: var(--theme-white);
}

.nav-link:hover {
  background-color: #cc374b;
}

#welcome-section {
  background-color: var(--theme-gray);
  height: 100vh;
  background-color: #000000;
  background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
  text-align: center;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

#welcome-title {
  font-size: 64px;
  font-weight: 700;
}

#welcome-subtitle {
  color: var(--theme-red);
  font-size: 24px;
  font-weight: 200;
  font-style: italic;
}

#projects {
  background-color: var(--theme-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

#projects-header {
  font-size: 35px;
  text-align: center;
  padding-top: 60px;
  margin: 50px 0;
  border-bottom: 1px solid var(--theme-white);
}

.project-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  margin: 10px 10px;
}

#project-thumbnail-container {
  display: grid;
  grid: 1fr / 1fr;
}

.project-thumbnail {
  width: 95%;
}

.project-title {
  background-color: var(--theme-gray);
  padding: 15px;
  width: 100%;
  text-align: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#show-all-link {
  background-color: var(--theme-gray);
  border-radius: 3px;
  color: var(--theme-white);
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  margin: 50px 0;
  align-self: center;
}

#link-section {
  background-color: var(--theme-gray);
  padding: 50px 25px 0 25px;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#links-header {
  font-size: 36px;
}

#links-subtitle {
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

#links-list {
  padding: 25px 0;
}

.profile-link {
  color: var(--theme-white);
  text-decoration: none;
  font-size: 21px;
  display: inline-block;
  margin: 15px;
}

footer {
  background-color: var(--theme-gray);
  border-top: 3px solid var(--theme-red);
  margin: 0;
}

.center-both-axes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  #navbar {
    justify-content: flex-end;
  }

  #project-thumbnail-container {
    grid: 1fr / 1fr 1fr;
  }

  #links-header {
    font-size: 52px;
  }
}

@media screen and (min-width: 992px) {
  #project-thumbnail-container {
    grid: 1fr / 1fr 1fr 1fr;
  }
}
